<div class="container p-4 pre-scrollable" style="max-height: 90vh ;max-width: 100vw ; ">
    <div class="row">
        <div class="col-12">
            <h3>Articulos {{estado}}</h3>
        </div>
    </div>
    <div class="row">

        {{#each articulos}}
        <div class="col-md-4">
            <div class="card text-center form-group" >
                <div class="card-body">
                    <a href="#" target='_blank'>
                        <h3 class="card-title text-uppercase">
                            {{name}}
                        </h3>
                        <h4>codigo: {{cod}}</h4>

                        <h4>unidad: {{uni}}</h4>
                        
                        <h4>stock: {{stock}}</h4>
                        <h4>estado: {{est}}</h4>
                    </a>
                    <a href="/articulos/delete/{{cod}}/0" class="btn cambia form-group" >Cambiar Estado</a>
                    <a href="/articulos/delete/{{cod}}/1" class="btn btn-danger form-group">Eliminar</a>
                    <a href="/articulos/edit/{{cod}}" class="btn btn-secondary form-group">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay articulos</p>
                <a href="/articulos/add" class='btn btn-success'>crear articulo</a>
                

            </div>
        </div>
        {{/each}}
    </div>
</div>