<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <!--esto lo centra-->
            <div class="card">
                <div class="card-body">
                    <p>Editar Parte entrada</p>
                    <form action="/parteEntrada/edit/{{partent.cod}}" method="POST">
                        <div class="form-group">
                            <input type="text" value="{{partent.cod}}" class="form-control" name="newcod" placeholder="codigo" autofocus>
                        </div>
                        <div class="form-group">
                            <h6>Proveedor</h6>
                            <select name="codpro">
                            <option value="{{partent.codpro}}">{{partent.codpro}}</option> 
                            {{#each proveedores}}
                                <option value="{{cod}}">{{name}}</option> 
                                {{else}}
                                <option value="-1">No hay proveedores </option> 
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                             <h6>Almacen</h6>
                            
                            <select name="codalm">
                            <option value="{{partent.codalm}}">{{partent.codalm}}</option> 
                            {{#each almacenes}}
                                <option value="{{cod}}">{{name}}</option> 
                                {{else}}
                                <option value="-1">No hay almacenes </option> 
                                {{/each}}
                            </select>
                        </div>

                        <p>Detalle </p>
                        <div class="row">
                            <div class="col form-group">
                                 <a href="/detalle/{{partent.cod}}" class="btn btn-success">Editar </a>
                            </div>
                        
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>
</div>