<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <!--esto lo centra-->
            <div class="card">
                <div class="card-body">
                    <p>Editar Parte entrada</p>
                    <form action="/parteEntrada/edit/{{partent.cod}}" method="POST"></form>
                        <div class="form-group">
                            <h6>Proveedor</h6>
                            <select name="codipro">
                            <option value="{{partent.codpro}}">Seleccionar proveedor</option> 
                            {{#each proveedores}}
                                <option value="{{cod}}">{{name}}</option> 
                                {{else}}
                                <option value="-1">No hay proveedores </option> 
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                             <h6>Almacen</h6>
                            
                            <select name="codialm">
                            <option value="{{partent.codalm}}">Seleccionar almacen</option> 
                            {{#each almacenes}}
                                <option value="{{cod}}">{{name}}</option> 
                                {{else}}
                                <option value="-1">No hay almacenes </option> 
                                {{/each}}
                            </select>
                        </div>

                        <p>Detalle </p>
                        <form action="/detalle/{{partent.cod}}">
                            <button class="form-group btn btn-success btn-block">
                                Editar
                            </button>
                        </form>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>
</div>